.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: skyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90; /* Should be lower than backdrop */
}

.Toolbar nav {
    height: 100%;
}

.Toolbar-Logo a{
    height: 80%;
}
.Toolbar-Logo .NavigationItem a:hover, .Toolbar-Logo .NavigationItem a:active, .Toolbar-Logo .NavigationItem a.active {
    background-color: skyblue;
    color: white;
    border: 0;
}