.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.column{
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    width: 100%;
    padding: 20px 0;
}
